*{
  margin: 0;
  padding: 0;
}

.sidebar-container{
    /* background: rgba(128, 128, 128, 0.20); */
    background-color: beige;
    width: 300px;
    border-radius: 15px;
    margin-top: 30px;
    
}

.sidebar-title {
  padding: 10px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.sidebars-link{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  margin-top: 20px;
}

.sidebars-link a{
  color: black;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  margin: 10px;
  width: 200px;
  display: flex;
  justify-content: space-evenly;

     background: rgba(128, 128, 128, 0.12);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  
}

.sidebars-link a:hover {
  cursor: pointer;
  color: white;
}
